@{
  ViewData["Title"] = "REGISTER";
  Layout = "_Layout";
}

@using ParksClient.ViewModels
@model RegisterViewModel

<h1>NEW USER REGISTRATION</h1>
<hr/>
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.UserName)
  @Html.TextBoxFor(user=> user.UserName)<br>

  @Html.LabelFor(user=> user.Password)
  @Html.PasswordFor(user=> user.Password)<br>

  @Html.LabelFor(user=> user.ConfirmPassword)
  @Html.PasswordFor(user=> user.ConfirmPassword)<br>

  <input class="btn-block" type="submit" value="REGISTER" />
}
<br>
<h4>ALREADY HAVE AN ACCOUNT?</h4>
@Html.ActionLink("LOG IN", "Login", "Account", null, new { @class="btn-block" })